$side-bar-border: 1px solid rgba(255, 255, 255, 0.6);
$white-faded: rgba(255, 255, 255, 0.6);
$side-link-padding: 0 1.5rem;
$expanded-body-margin: 15.5rem;
$body-margin: 60px;
$side-text-margin: 0.9rem;
$purple-color: #4723d9;

%icon-size {
    height: 1em;
    width: 1em;
}

a {
    text-decoration: none;
}

aside {
    position: absolute;
    height: 100%;
    width: $body-margin;

    background-color: $purple-color;
    font-size: .95rem;
    transition: all .5s;
}

nav {
    margin-left: $body-margin;
    transition: all .5s;
}

main {
    margin-left: $body-margin;
    padding: 2em 3em;
    transition: all .5s;
}

#btn-expand {
    @extend %icon-size;
    fill: rgba(0, 0, 0, 0.675);
    cursor: pointer;
    transition: all .5s;
}

#btn-expand:hover {
    fill: black;
}

.logo-container {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;

    .logo {
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 100%;
    }
}

.logo-name {
    margin-left: $side-text-margin;
    font-weight: bold;
    color: white;
}

.todo-btn:hover {
    fill: rgb(59, 144, 59);
}

.todo-btn {
    fill: rgb(14, 180, 11);
}

.side-links {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    border-top:$side-bar-border;
    border-bottom: $side-bar-border;

    li {
        padding: 16px 0;
        cursor: pointer
    }
}

.list-vector {
    @extend %icon-size;
    fill: $white-faded;
    transition: all .5s;
}

.link:hover,
.side-projects-form-tab:hover {
    .list-vector {
        fill: white;
    }

    span {
        color: white;
    }
}

.side-projects,
.side-projects-header {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    transition: all .5s;

    li {
        padding-bottom: 3px;
        cursor: pointer;
    }
}

.side-projects > li:hover {
    .list-vector {
        fill: white;
    }

    span {
        color: white;
    }
}

.link-text {
    color: $white-faded;
    margin-left: $side-text-margin;
    transition: all .5s;
}

.todo-container {
    font-size: 0.9em;
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    border: 1px solid rgba(215, 215, 215, 0.559);
    border-radius: 5px;
    transition: all .5s;
}

.todo-container:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.476);
}

.todo-header-container {
    margin-left: 1rem;

    p {
        margin: 0;
    }
}

.hide-element {
    display: none;
}

.todo-container-expanded {
    .todo-notes {
        margin-top: 8px;
        margin-left: 1.8rem;
    }

    .checklist-item {
        margin-left: 2em;
    }
    
    .checklist-title {
        margin: 0 0 0 0.5em;
    } 
}

.todo-icons-container {
    svg {
        height: 20px;
        width: 20px;
        margin-left: 2em;
    }

    .todo-delete {
        fill: rgba(252, 83, 83, 0.89);
    }

    .todo-edit {
        fill: rgba(252, 195, 90, 0.856);
    }

    .todo-delete:hover {
        fill: rgb(239, 32, 32);
    }

    .todo-edit:hover {
        fill: orange;
    }
}

.side-bar-expanded {
    width: $expanded-body-margin;
    text-transform: capitalize;
}

.main-content-expanded, 
.nav-expanded {
    margin-left: $expanded-body-margin;
}

.logo-container-expanded {
    padding: 1rem 1.5rem;
    text-align: start;
    justify-content: space-between;
}

.side-projects-expanded, 
.side-links-expanded {
    padding: $side-link-padding;
    text-align: start;
}

.todo-form {
    label {
        display: block;
        text-transform: capitalize;
    }

    textarea[name=notes] {
        resize: none;
    }
}

.inbox-icon {
    @extend %icon-size;
    fill: rgb(51, 51, 251);
}

.project-icon {
    @extend %icon-size;
    fill: rgb(99, 229, 255);
}

#pencil-icon {
    @extend %icon-size;
    fill: rgb(246, 249, 142);
}

.calender-icon {
    @extend %icon-size;
    fill: rgb(252, 67, 30);
}

.cancel-project-icon {
    @extend %icon-size;
    fill: rgba(255, 0, 0, 0.6);
    transition: all .5s;
}

.cancel-project-icon:hover {
    fill: rgb(255, 0, 0);
}

.project-form {
    width: 150px;
    margin-left: 1.1rem;
    border: none;
    padding: 0 1px;
}

.hide-text {
    display: none;
}

.navbar-toggler {
    display: none;
}

@media (max-width: 767.98px) {
    aside,
    .side-bar-expanded {
        position: sticky;
        width: 100% !important; 
        text-align: start;
    }
    
    .navbar-toggler {
        display: block;
    }

    .side-links {
        li {
            padding: 5px 0;
        }
    }

    .navbar {
        display: none;
    }

    .main-content-expanded, 
    .nav-expanded,
    main {
        margin: 0 !important;
    }
}

#user-container {
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-start;
  padding-right: 10px;
  color: white;
  cursor: pointer;
}

#user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  // background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  background-size: 33px;
  border-radius: 20px;
}

#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  // padding-right: 10px;
  // padding-left: 20px;
}

.dropdown-hover {
  display: flex;
  flex-direction: row;
}

.sign-in-out-btn {
  min-height: 50px;
  max-width: 175px;
  background: none;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

#sign-out {
  color: black;
}

.sign-in-out-container {
  text-align: center;
}

.dropdown-menu-visible {
  display: block;
}

